*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
    width:350px;
    height:650px;
    background: #563ADA;
    float: left;
    margin: 5px;
    box-shadow: 10px 10px 5px gray;
}

.logo-container{
    position: relative;
    width:100%;
    height:50%;
    
}

.logo{
    position: relative;
    width:50%;
    height:50%;
    background-image: url('assets/img/Chat-2-512.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin:0 auto;
    top:50%;
    transform: translateY(-50%);
}

.title{
    position: relative;
    text-align: center;
    color:white;
    top:110px;
    font-size: 30px;
}

.form-container{
    position: relative;
    width:100%;
    height:50%; 
}

.row-1{
    position: relative;
    width:100%;
    height:50px;
}
.sign-in{
    position: relative;
    display:inline-block;
    width:49%;
    height:100%;
    text-align:center;
    line-height:44px;
    color:white; 
    border-bottom: 4px solid white; 

}
.sign-up{
    position: relative;
    display:inline-block;
    width:49%;
    height:100%;
    text-align:center;
    line-height:44px;
    color:white;
    border-bottom: 4px solid blue;
}

.username{
    position: relative;
    display:inline-block;
    width: 95%;
    height:13%;
    margin: 2%;
    line-height:44px;
    color:black;
    background: white;
    border-radius:21px ;
    border: none;
}

.password{
    position: relative;
    display:inline-block;
    width: 95%;
    height:13%;
    margin: 2%;
    line-height:44px;
    color:black;
    background: white;
    border-radius:21px ;
    border: none;
}

.sign-in2{
    position: relative;
    display:block;
    width: 30%;
    height:13%;
    margin: 0 auto;
    line-height:40px;
    color:black;
    background: white;
    border-radius:21px;
    text-align: center;
    border: none;
    top: 60px;
}

.bg-white{
    background: white;
    
}

.heading{
    position: relative;
    display:inline-block;
    width: 95%;
    height:9%;
    margin: 2%;
    line-height:50px;
    color:white;
    background: #563ADA;
    text-align: center;
    font-size: 30px;
}

.name1{
    position: relative;
    display:inline-block;
    width: 95%;
    height:11%;
    margin: 2%;
    border-bottom: 4px solid rgb(96, 96, 170);
    line-height:50px;
    color:rgb(12, 11, 11);
    background: white;
    font-size: 30px;
    background-image: url('assets/img/flower1.png');
    background-size: 20%;
    background-repeat:no-repeat; 
    text-align: center;
}

.name2{
    position: relative;
    display:inline-block;
    width: 95%;
    height:11%;
    margin: 2%;
    border-bottom: 4px solid rgb(96, 96, 170);
    line-height:50px;
    color:rgb(12, 11, 11);
    background: white;
    font-size: 30px;
    background-image: url('assets/img/flower2.png');
    background-size: 20%;
    background-repeat:no-repeat; 
    text-align: center;
}

.name3{
    position: relative;
    display:inline-block;
    width: 95%;
    height:11%;
    margin: 2%;
    border-bottom: 4px solid rgb(96, 96, 170);
    line-height:50px;
    color:rgb(12, 11, 11);
    background: white;
    font-size: 30px;
    background-image: url('assets/img/flower3.png');
    background-size: 20%;
    background-repeat:no-repeat; 
    text-align: center;
}

.name4{
    position: relative;
    display:inline-block;
    width: 95%;
    height:11%;
    margin: 2%;
    border-bottom: 4px solid rgb(96, 96, 170);
    line-height:50px;
    color:rgb(12, 11, 11);
    background: white;
    font-size: 30px;
    background-image: url('assets/img/flower4.png');
    background-size: 20%;
    background-repeat:no-repeat; 
    text-align: center;
}

.heading2{
    position: relative;
    display:inline-block;
    width: 95%;
    height:9%;
    margin: 2%;
    line-height:50px;
    color:white;
    background: #563ADA;
    text-align: center;
    font-size: 30px;
    
}

.arrow{
    content: "2190";
}

.move-left{
    position: absolute;
    left: 33px;
}

.entry1 {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 16px;
    margin: 10px 0;
    background-image: url('assets/img/flower1.png');
    background-repeat: no-repeat;
    background-size: 20%;
    
  }
  
  .screen {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 25px;
    margin: 10px 0;
    background-image: url('assets/img/flower2.png');
    background-repeat: no-repeat;
    background-size: 20%;
    border-color: #ccc;
    background-color: #ddd;
  }
  
  .entry1::after {
    content: "";
    clear: both;
    display: table;
  }
  
  
  .entry1 img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  .time-right {
    float: right;
    color: #aaa;
  }
  
  .time-left {
    float: left;
    color: #999;
  }